*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

html, body{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
}

.icon-pgs{
    width: 69px;
    height: 80px;
    margin-left: 30%;
}

.content{
    flex: 1 0 auto;
}

                /* START  HEADER*/

.header{
    background-color: rgb(66, 63, 63);
    padding: 10px 0 10px 0;
    min-height: 12vh;
}

h3 ,p{
    text-align: center;
    margin: 20px 0 20px 0 ;
    color: white;
}

p{
    font-size: 10px;
    color: rgb(212, 213, 214);
}

.form{
    display: flex;
    justify-content: center;
}

#value1{
    margin: 0;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
    border-radius: 50px 0 0 50px;
    background-color: rgb(241, 240, 252);
    height: 30px;
    width: 140px;
    padding-left: 10px;
}

#btn{
    margin: 0;
    background-color: rgb(236, 95, 0);
    color: white;
    border-right: 1px solid gray;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    border-left: none;
    border-radius:0 50px   50px 0;
    height: 30px;
    width: 70px;
}

#btn:hover{
    cursor: pointer;
}            /* END  HEADER*/
        


            /* START SECTION*/
#totalNumber{
    padding: 10px;
}

#section{ 
    margin: 0 auto;
    max-width: 1200px;
}

#list{  
    margin: 0 auto; 
}

#container{
justify-content: center;
}

#list a{
    text-decoration: none;
    color: black;
    max-width: 40px;
    height: 20px;
    background-color: orangered;
    border: 1px solid orangered;
    border-radius: 10%;
    padding: 5px;
}

#list ul{
    list-style: none;
    display: flex;
    justify-content: center;
}

#list ul li {
    margin: 10px;
    padding: 10px;
}

.block{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    background: #f0f0f0;
}

.block .block-body{
    flex-direction: column;
    display: flex;
    flex: 1;
    align-items: center;
}


.block:hover{
    border: 2px solid orange;
    margin: 8px;
    box-shadow: 0 0 15px 3px #f0f0f0;
    cursor: pointer;
}


.block > img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid black;
} 


.text1, .text2{
    font-size: 15px;
    color: black;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis; 
    white-space: nowrap;
    max-width: 100px;
    margin: 5px;
}

.text2{
    font-weight: 200;
}

.hr{
    width: 60%;
    border-bottom: 1px dashed #b4b4b4;
}

#container{
    display: grid;
    grid-template-columns: 33% 33% 33%;
}               
                /* END SECTION*/

footer{ 
    background: rgb(66, 63, 63);
    text-align: center;
    padding: 15px 0 ;
    color:rgb(212, 203, 203);
    font-size: 14px;
    flex-shrink: 0;
}

footer span{
    letter-spacing: -1px;
}

@media (max-width: 720px) {
    #container{
       grid-template-columns: 80%; 
    }   
}


